name: build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    strategy:
      matrix:
       - os: ubuntu-latest
         artifact_name: zssh
         asset_name: zssh-linux-amd64
       - os: windows-latest
         artifact_name: zssh.exe
         asset_name: zssh-windows-amd64
       - os: macos-latest
         artifact_name: zssh
         asset_name: zssh-macos-amd64
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.16

    - name: Build
      run: go build -v ./...
      
   - name: Upload binaries to release
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: target/release/${{ matrix.artifact_name }}
        asset_name: ${{ matrix.asset_name }}
        tag: ${{ github.ref }}
