
name: ziti-mattermost-action-py
on:
  create:
  delete:
  issues:
  issue_comment:
  pull_request_review:
    types: [submitted]
  pull_request_review_comment:
  pull_request:
    types: [opened, reopened]
  push:
  fork:
  release:
    types: [released]
  workflow_dispatch:

jobs:
  ziti-webhook:
    runs-on: ubuntu-latest
    name: Ziti Mattermost Action - Py
    steps:
      - uses: dovholuknf/mm-notification-action@main
        if: ${{ env.ZHOOK_URL != null }}
        env:
          ZHOOK_URL: ${{ secrets.ZHOOK_URL }}
        with:
          # Identity JSON containing key to access a Ziti network
          zitiId: ${{ secrets.ZITI_MATTERMOST_IDENTITY }}
          
          # URL to post the payload. Note that the `zitiId` must provide access to a service 
          # intercepting `my-mattermost-ziti-server`
          webhookUrl: ${{ secrets.ZHOOK_URL }}
          
          eventJson: ${{ toJson(github.event) }}
          senderUsername: "GitHubZ"
          destChannel: "dev-notifications"
          githubEvent:  ${{ toJson(github.event) }}
          identityFile: ${{ secrets.ZITI_MATTERMOST_IDENTITY }}
          url: ${{ secrets.ZHOOK_URL }}